.App {
  height: 100vh;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-size: 6vw;
}

.title-item {
  line-height: 0;
  text-align: center;
}
