
.App {
  height: 100vh;
  color: #fff;
  background-color: #000;
}

.login-register-page-container {
  overflow: hidden;
}

.title-link, .main-menu-link {
  text-decoration: none;
  color: #fff;
}

.main-page, .main-page-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  font-family: 'Press Start 2P';
  text-shadow:
    -0.094rem 0 0 #fdff2a,
    -0.188rem 0 0 #df4a42,
    0.094rem 0 0 #91fcfe,
    0.188rem 0 0 #4405fc;
  letter-spacing: 0.2rem;
  animation-name: show;
  animation-duration: 2s;
  }

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.main-page-username-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 8rem 0 0 0;
}
.main-page-username {
  position: absolute;
  bottom: 0;
  margin: 0;
  line-height: 0;
  font-family: 'Cedarville Cursive';
  font-size: 3vw;
}

.main-menu-list {
  margin: 0;
  padding: 0;
}

.main-menu-list-item {
  list-style: none;
}

.main-menu-link, .main-menu-link-input{
  font-size: 2.5vw;
  line-height: 1.8rem;
}

.main-menu-link-input {
  font-family: 'Press Start 2P';
  color: #000;
  font-size: 1.5vw;
  width: 20vw;
}

.main-menu-list-item:hover {
  list-style-type: "▶ ";
}

.error {
  width: 58vw;
  font-size: 2vw;
}